#!/bin/bash
echo "#########################################"
echo "Building %%IMAGE%% version %%VERSION%%"
echo "#########################################"
docker build -t %%ORG%%/%%IMAGE%%:%%VERSION%% .

